        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        .container {
            width: 400px;
            background-color: #111111;
            color: #ffffff;
            border-radius: 16px;
            position: absolute;
            z-index: 9999;
            font-family: "Inter", sans-serif;
        }
        #explainthat-response-text {
            font-size: 15px;
            margin-left: 10px;
            padding: 7.5px 15px;
            width: 87%;
        }
        #lower-bar {
            background-color: #181818;
            bottom: 0;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 25px;
            font-size: 12px;
            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;
            color: grey;
        }
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        @keyframes fadeOut {
            0% { opacity: 1; }
            100% { opacity: 0; }
        }